#! /bin/zsh

console() {
  uri=https://console-openshift-console.apps.okd4v2.okd4beta.rapyuta.io/k8s/ns/$(kubectl config view --minify --output 'jsonpath={..namespace}')/$1
  if [[ -f $(which open) ]]; then
    open $uri
  else
    xdg-open $uri
  fi
}

pbcopy() {
	stdin=$(</dev/stdin);
  #this func hides the original pbcopy
	#pbcopy="$(which pbcopy)";
  pbcopy="/usr/bin/pbcopy"
	if [[ -f "$pbcopy" ]]; then
		echo "$stdin" | "$pbcopy"
	else
		echo "$stdin" | xclip -selection clipboard
	fi
}

# docker rm container
docker_stop_remove_id() {
  docker stop "$@" && docker rm "$@"
}

# docker postgres
dpg() {
  docker run -d --name postgres -p 5432:5432 -e POSTGRES_HOST_AUTH_METHOD=trust "$@" postgres:alpine
}

# docker redis
dredis() {
  docker run -d "$@" redis
}

# Change dir to regex, loads fuzzy search incase of multiple match
cds() {
  DIRNAME=$1
  BASEDIR=${BASEDIR:-.}

  DIRS=$(find "$BASEDIR" -maxdepth 4 -type 'd' -iname "*${DIRNAME}*")
  NRESULTS=$(echo "$DIRS" | wc -l | bc)

  if [[ "1" == "$NRESULTS" ]]; then
    cd "$DIRS" || return 1
  else
    DIR=$(echo "$DIRS" | fzf)
    cd "$DIR" || return 1
  fi
}

# git clone to repositories dir in a structured fashion
gclone() {
  URL="$1"
  PROJ_DIR="$URL"
  cd "$REPOPATH"
  if [[ "$URL" =~ "git@.*:.*\.git" ]]; then
    PROJ_DIR=$(echo "$URL" | sed 's/git@\(.*\):\(.*\)\.git/\1\/\2/')
  elif [[ "$URL" =~ "https:.*\.git" ]]; then
    PROJ_DIR=$(echo "$URL" | sed 's/https:\/\/\(.*\)\.git/\1/')
  fi

  if [[ "$PROJ_DIR" != "$URL" ]]; then
    git clone --recurse-submodules $URL $PROJ_DIR
  else
    echo "Url pattern not supported"
    return 1
  fi
}
