Host edge
  Hostname 127.0.0.1
  Port 9999
  IdentityFile ~/.ssh/id_github
  User rr

Host sysbox
  Hostname 127.0.0.1
  Port 9000
  User rapyuta

Host iot
  Hostname 127.0.0.1
  Port 3022
  IdentityFile ~/.ssh/id_github
  User root

Host apue
  Hostname 127.0.0.1
  Port 2222
  IdentityFile ~/.ssh/apue
  User msc

Host github.com
  IdentityFile ~/.ssh/id_github

Host gitlab.indexexchange.com
  IdentityFile ~/.ssh/id_github

Host bitbucket.org
  IdentityFile ~/.ssh/id_github

Host bastion-sre
  HostName 20.89.91.153
  IdentityFile ~/.ssh/id_github
  ForwardAgent yes
  User azureuser

Host bastion-okd4
  HostName 40.81.203.194
  IdentityFile ~/.ssh/id_github
  User azureuser

Host prod-bastion-okd4
  HostName 52.185.187.223
  IdentityFile ~/.ssh/id_github
  ForwardAgent yes
  User azureuser

#Host 10.*
  #User core
  #IdentityFile ~/.ssh/id_github
  #ProxyCommand ssh bastion-okd4 -W %h:%p
  #
Host p*
  User root
  IdentityFile ~/.ssh/id_index

# Pass: viper67
Host dockervm
  User root
  HostName 10.5.33.8

Host bridge
  User mohit.choudhary
  IdentityFile ~/.ssh/id_index

Host ops*
  User root
  IdentityFile ~/.ssh/id_index
  ProxyCommand ssh bridge -W %h:%p

Host msclab01
  User mohit.choudhary
  IdentityFile ~/.ssh/id_github
  HostName 192.168.31.11
